################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PexelsDotNetSDK.sln
/.vs/PexelsDotNetSDK/FileContentIndex/30c3d9ff-ca27-4215-8153-37e235bed5c6.vsidx
/.vs/PexelsDotNetSDK/FileContentIndex/fafa0de3-d676-4763-a19c-4db7c571d386.vsidx
